@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body::before{
  content: "map berega.team";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font-size: 2rem;
  color: rgb(0, 156, 26);
  font-weight: 600;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.filter__title {
  font-size: 16px;
  font-weight: 600;
  color: #009C1A;
  margin: 0px;
  padding: 0 0 20px 0;
}

.filter__title-more {
  padding: 20px 0 0 0;
}

.filter__wrapper {
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  font-weight: 500;
}

.filter__rooms {
  border: 1px solid rgb(164, 170, 180);
  padding: 5px;
  border-radius: 8px;

  div {
    gap: 15px;
  }

  button {
    border-radius: 10px;

    @media(hover: hover) {
      &:hover {
        color: rgb(0, 156, 26)
      }
    }
  }
}

.helpPopup__table td:first-child{
  float: inline-start;
}

.select-button {
  display: flex;
  align-items: center;
  gap: 7px;
  border: 1px solid rgb(164, 170, 180);
  border-radius: 8px;
  padding: 5px 10px;
  font-weight: 500;
}

.select-popup {
  button {
    display: block;
    width: 140px;
    padding: 10px;
    font-weight: 500;
  }
}

p {
  font-size: 11px;
  font-weight: 400;
  color: rgba(97, 98, 123, 1);
  margin: 0px;
}

.card-body .price {
  font-size: 10px;
}

.map {
  flex: 50%;
  height: 100%;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-bottom-right div {
  display: none !important;
}

.map .mapboxgl-ctrl-top-right {
  background: #fff !important;
  padding: 10px !important;
  top: 10px !important;
  right: 10px !important;
  border-radius: 8px;
  font-weight: 600 !important;

  div:first-child {
    margin: 0 !important;
  }

  div {
    margin: 10px 0 0 !important;
    transition: all 0.2s;
  }
}

@media(hover: hover) {
  .map .mapboxgl-ctrl-top-right div:hover {
    transition: all 0.2s;
    background: #f0f1f5;
    box-shadow: none;
  }
}

.marker {
  border: 1px solid white;
  border-radius: 50%;
}

.root-container {
  display: flex;
  width: 100dvw;
  height: 100dvh;
  position: relative;
}

.cards__wrapper {
  overflow-y: auto;
  height: 100%;
}

.cards-container {
  display: grid;
  height: inherit;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 20px;
  min-width: 640px;
  padding: 10px 10px;
}

.cards-container>a {
  height: 205px;
}

.cards__wrapper::-webkit-scrollbar {
  width: 8px;
  background-color: #DCDCDC;
}

.cards__wrapper::-webkit-scrollbar-thumb {
  background-color: #009C1A;
  width: 8px;
}

.building {
  width: 300px;
  position: relative;
  box-shadow: rgba(170, 170, 170, 0.4) 0px 0px 8px 0px;
  border-radius: 16px;
}

.building .body {
  padding: 10px;
}

.building img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.like {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  margin: 6px;
  background: none;
  border: none;
  cursor: inherit;
  color: rgb(233, 78, 81);
}

.like:hover .liked {
  display: initial;
}

.like:hover .not-liked {
  display: none;
}

.like:not(:hover) .liked {
  display: none;
}

.like:not(:hover) .not-liked {
  display: initial;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filter__line {
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
}

.filter__line h2 {
  font-size: 14px;
  font-weight: 600;
  color: #494949;
  width: 150px;
  text-align: end;
}

.filter__table-more .input-container{
  border: 2px solid #EEF5F8;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  border-radius: 8px;
  background-color: #fff;
  margin: 0 15px 0 0;
  font-weight: 500;
  input{
    border: none; 
  }
}

.input-container__number{
  border: 1px solid rgb(164, 170, 180);
  flex-wrap: nowrap;
}

.filter__first .input-container__number{
  border: none;
}

.popup__description {
  max-height: 66px;
  padding: 0 10px 0 0;
  overflow-y: auto;
}

.popup__description::-webkit-scrollbar {
  width: 4px;
  background-color: #DCDCDC;
  border-radius: 50px;
}

.popup__description::-webkit-scrollbar-thumb {
  background-color: #009C1A;
  width: 4px;
  border-radius: 50px;
}

.flex-column .group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column .price {
  font-weight: 700;
  color: rgb(0, 114, 61);
}

.cluster-icon {
  background-image: url('https://img.icons8.com/ios-filled/100/439639/100-percents.png');
  background-size: contain;
  position: relative;
}

.filter__table {
  padding: 20px 0;
}

.filter__first {
  background: #EEF5F8;
  border-radius: 12px;
}

.cluster-icon p {
  display: block;
  color: white;
  inline-size: min-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.map-button {
  background-color: #439639;
  margin: 10px;
  padding: 12px 16px;
  border-radius: 100px;
  border-color: #0000;
  cursor: pointer;
}

.map-button p {
  color: white;
}

.popup-container {
  --border-radius: 12px;
  background-color: white;
  width: 400px;
  margin: 10px;
  border-radius: var(--border-radius);
  border-top-right-radius: 0;
  position: absolute;
  top: calc(50% - 250px);
  z-index: 3000;

  .popup {
    position: relative;

    .close {
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      width: 40px;
      height: 40px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }

    h1 {
      font-weight: 600;
    }

    .content {
      padding: 16px;

      .image {
        width: 100%;
        height: revert-layer;
        border-radius: var(--border-radius);
      }
    }

    .popup__btn button {
      margin: 20px 0 0;
      justify-content: center;
      width: 100%;
    }
  }
}

@media(max-width: 1215px){
  .filter__square{
  display: none !important;
  }
}

@media(max-width: 1150px) {
  .cards-container {
    min-width: 320px;
    grid-template-columns: 1fr;
  }

  .popup-container {
    width: 330px;
  }

  .filter__line h2 {
    width: 120px;
  }
}

@media(max-width: 900px){
  .filter__rooms{
    display: none !important;
  }
}

@media (max-width: 720px) {
  .root-container {
    flex-direction: column;
  }

  .cards__wrapper {
    margin: 10px 0 0;
  }

  .cards-container {
    width: 100%;
    height: 33dvh;
    gap: 10px;
    padding: 0 10px 10px;
  }

  .building {
    width: 100%;
  }

  .filter__line h2 {
    width: 60px;
    font-size: 14px;
  }

  .filter__table {
    padding: 20px 15px;
    font-size: 14px;
  }

  .popup-container {
    position: fixed;
    width: 100%;
    top: unset;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    border-top-right-radius: 12px;

    .popup {
      .content {
        display: flex;
        flex-direction: column;

        .image {
          width: 100%;
          height: 100%;
          object-fit: cover;
          height: 350px;
        }

        .content__wrraper {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }

    .close {
      left: -40px;
      border-top-left-radius: 12px;
    }
  }
}

.button-pressed {
  background: #b0b0b0 !important;
}

@media(max-width: 685px){
  .filter__price{
    display: none !important;
  }
  .filter__line{
    align-items: flex-start;
  }
}

@media(max-width: 400px){
  .select-button{
    font-size: 10px;
  }
  .select-popup{
    font-size: 10px;
    bottom: -10px;
    button{
      padding: 5px;
      width: 100px;
    }
  }
  .input-container__number input{
    max-width: 70px;
    max-height: 25px;
  }
  .filter__line h2{
    width: 40px;
    font-size: 10px;
  }
  .input-container__number input::placeholder{
    font-size: 10px;
  }
  .filter__table{
    font-size: 10px;
  }
}